.header-container{
    // background:#78b659;
    background:#fff;
    box-shadow:0 0 4px 2px #eee;
    height:70px;
    display:flex;
    align-items:center;
   
    .ant-input-affix-wrapper{
        min-width:500px;
    }
    
    .header-main{
        display:flex;
        align-items:center;
        justify-content:space-between;

        .nav-menu{
            .nav-menu-items{
                display:flex;
                align-items:center;
                justify-content:center;
                column-gap:40px;
                margin:0;

                .nav-menu-item{
                    list-style-type:none;
                }
            }
        }
    }
    .logo-img{
        width:53px;
        height:53px;
        object-fit:contain;
        mix-blend-mode: multiply;
    }
}