
.text-field{
  &.required{
    .field-label{
      .steric{
        display:inline-block;
      }
    }
  }
  .field-label{
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    .steric{
      color: var(--primary-color);
      font-family: var(--font-family);
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: none;
    }
  }
  .ant-input{
    background: var(--input-background);
  }
  .ant-input-affix-wrapper{
    //border-radius: 100px;
    //border: 1px solid var( --input-border);
    background: var(--input-background);
    padding: 10px 15px;
    .ant-input-prefix{
      color:var(--input-icon);
      svg{
        path{
          fill:var(--input-icon);
        }
      }
    }
    .ant-input-suffix{
      cursor: pointer;
      font-size: 23px;
      color: var(--input-icon);
      svg{
        path{
          fill:var(--input-icon);
        }
      }
      .anticon{
        color: #717392 !important;
      }
    }
    .ant-input{
      //background: transparent;
      color: var(--font-color-dark-1);
      font-family: var(--font-family);
      font-size: 14px;
      height: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:focus{
        //background: transparent;
      }
      &::placeholder{
        color: var(--input-placeholder);
        font-family:var(--font-family);
      }
    }
  }

  input{
    //border-radius: 100px;
    border: 1px solid var( --input-border);
    background: var(--input-background);
    height: 50px;
    padding: 10px 15px;
    color: var(--font-color-dark-1);
    &::placeholder{
      color: var(--input-placeholder);
      font-family: var(--font-family);
    }
    .ant-input-prefix{
      color: var(--font-color-dark-1);
      svg{
        path{
          fill:var(--input-icon);
        }
      }
    }
    .ant-input-suffix{
      cursor: pointer;
      font-size: 23px;
      color: var(--input-icon);
      .anticon{
        color: var(--input-icon) !important;
        svg{
          path{
            fill:var(--input-icon);
          }
        }
      }
    }
    &.ant-input{
      color: var(--font-color-dark-1);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &::placeholder{
        color: var(--input-placeholder);
      }
    }
  }
  .error-message{
    color: #ff4d4f;
  }
}

.ant-input-outlined{
  border: 1px solid var( --input-border);
}
:where(.css-dev-only-do-not-override-6t202e).ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-6t202e).ant-input-outlined[disabled]{
  background:rgba(0, 0, 0, 0.04);
  border-color: var(--input-border);
  color: rgba(0, 0, 0, 0.25) !important;
}

// :where(.css-dev-only-do-not-override-4ltwpz).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
//  background: var(--input-background);
//}
//:where(.css-dev-only-do-not-override-4ltwpz).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
//  background: var(--input-background);
//}
//:where(.css-dev-only-do-not-override-sfqd18).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled){
//  background: var(--input-background);
//}
//.ant-input-affix-wrapper-focused{
//  .ant-input{
//    background: var(--input-background);
//  }
//
//}