.select-field{
  &.required{
    .field-label{
      .steric{
        display:inline-block;
      }
    }
  }
  .error-message{
    color: #ff4d4f;
  }
  .field-label{
    // color: var(--font-color-grey-1);
    // font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    .steric{
      color: var(--primary-color);
      // font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: none;
    }
  }
  .ant-select{
    width: 100%;
    height: 50px;
    &.ant-select-single{
      &.ant-select-open{
        .ant-select-selection-item{
          color: var(--font-color-dark-1);
        }
      }
    }
    .ant-select-selector{
      border-radius: 8px;
      border: 1px solid var(--input-border);
      background: var(--input-background);
      color: var(--font-color-dark-1);
      .ant-select-selection-placeholder{
        color: var(--input-placeholder);
      }
    }
    .ant-select-arrow{
      color: var(--input-icon);
    }
    .ant-select-clear{
      background:var(--input-background);
      color: var(--font-color-grey-1);
      width: 20px;
      height: 20px;
      margin-top: -10px;
      font-size: 20px;
      margin-right: 2px;
      border-radius: 30px;
    }
  }
}

// select
.ant-select-selector{
  .ant-select-selection-item{
    .ant-select-selection-item-remove{
      color:var(--font-color-dark-1);
    }
  }
}

//  select dropdown
.ant-select-dropdown{
  background: var(--input-background);
  .ant-select-item-option-selected{
    background-color: var(--background) !important;
  }
  .ant-select-item-option-content{
    color: var(--font-color-dark-1);
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 15px;
}

:where(.css-dev-only-do-not-override-1nndw4u).ant-select-status-error:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #ff4d4f;
}